{% extends "adminbase.html" %}

{% block container %}
<div class="userdetail">
    <h1 style="color:white; text-align:center;">User List</h1>
    <table>
        <tr>
            <th>UserName</th>
            <th>Email</th>
        </tr>
        {% for i in users %}
        <tr>
            <td>{{i.username}}</td>
            <td>{{i.email}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- <div class="pagination">
    {% if employee_paginator.has_previous %}
    <a href="?page={{ salary_paginator.previous_page_number }}">Previous</a>
    {% endif %} -->

<!-- Page numbers -->
<!-- <span>
        {% for num in employee_paginator.paginator.page_range %}
        {% if employee_paginator.number == num %}
        <strong>{{ num }}</strong>
        {% else %}
        <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}
    </span>

    {% if employee_paginator.has_next %}
    <a href="?page={{ salary_paginator.next_page_number }}">Next</a>
    {% endif %}
</div> -->
{% endblock %}