{% load static %}
{% block header %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{% static 'css/adminstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <script>alert("{{message}}")</script>{% endif %}
    {% endfor %}
    {% endif %}
    <div class="navadmin">
        <h1 style="margin-left:30px">Admin</h1>
        <div class="menu">
            {% if request.session.user %}
            <li><a href="userlist">All User</a></li>
            <li><a href="adminpanel">Home</a></li>
            {% endif %}
        </div>
        {% if request.session.user %}
        <button style="margin-right:30px"><a href="logout_admin">logout</a></button>
        {% else %}
        <button style="margin-right:30px"><a href="">login</a></button>
        {% endif %}
    </div>

    {% endblock header %}
    {% block container %}
    {% endblock container %}
    {% block footer %}
</body>

</html>
{% endblock footer %}