{% load static %}
{% block header %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/cb91b67637.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</head>

<body>
    <style>

    </style>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <script>alert("{{message}}")</script>{% endif %}
    {% endfor %}
    {% endif %}
    <div class="navbar">
        <button id="menubar" onclick="openmenu()"><i class="fa-solid fa-bars-staggered" id="icon"></i></button>
        <div class="logo">
            <h1>MyBlogs.com</h1>
        </div>
        <ul class="menu" id="allmenu">
            <li><a href="/">Home</a></li>
            <li><a href="createpost">Create</a></li>
            <li><a href="mypost">My Post</a></li>
        </ul>
        <div class="auth">
            {% if user.is_authenticated %}
            <!-- <a href="">
                <img src="{% static 'images/default-user.png' %}" alt="" height="45px" width="45px"
                    style="border-radius: 50%; margin-top: 25px;">
            </a> -->
            <button style><a href="../logout">logout</a></button>
            {% else %}
            <button style><a href="registration">SignUp</a></button>
            {% endif %}
        </div>
    </div>
    {% endblock header %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    <div class="footer">
        <div class="left">
            <h1>Quick links</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="registration">Register</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="mypost">Mypost</a></li>
                <li><a href="createpost">Create</a></li>
            </ul>
        </div>
        <div class="right">
            <h1>MyBlogs.com</h1>
        </div>
    </div>
    <div class="bottom">
        <p>@copyright 2024 satish@1097</p>
    </div>
</body>

</html>
{% endblock footer %}