{% extends "base.html" %}
{% block content %}
<div class="posts">
    {% if posts %}
    {% for post in posts %}
    <div class="post">
        <div class="img">
            <img src="{{post.file.url}}" alt="img">
        </div>
        <div class="description">
            <p>{{post.Description|safe}}</p>
        </div>
        <div class="action">
            <button><a href="{% url 'editpost' post.id %}">Edit</a></button>
            <button><a href="{% url 'deletepost' post.id %}">Delete</a></button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="nopost">
        <h1>No Post Available</h1>
        <button class="createbutton"><a href="createpost">Create</a></button>
    </div>
    {% endif %}

</div>
{% endblock content %}