{% extends "base.html" %}
{% block container %}

<style>
    .mobile_container {
        max-width: 400px;
        height: 280px;
        background-color: #081028;
        margin: 100px auto;
        border-radius: 10px;
        color: #fff;
        text-align: center;
    }

    .mobile_container h2 {
        padding-top: 30px;
    }

    .mobile_container form {
        display: block;
    }

    .mobile_container form label {
        display: none;
        font-weight: 600;
        left: 0;
    }

    .mobile_container form input[type='text'] {
        width: 90%;
        padding: 10px;
        margin-top: 20px;
        border-radius: 3px;
    }

    .mobile_container form input[type='file'] {
        width: 90%;
        padding: 10px;
        margin-top: 20px;
        border-radius: 3px;
    }

    .mobile_container form input[type='submit'] {
        width: 100px;
        height: 35px;
        margin-top: 30px;
        border-radius: 5px;
        background-color: darkmagenta;
        border: 0;
        outline: 0;
        color: #fff;
    }
</style>
<div class="mobile_container">
    <h2>Create Wallet</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <input type="submit">
    </form>
</div>
{% endblock container %}