
{% extends "base.html" %}
{% block container %}
    <div class="form-containeradmin">
        <h2>Admin Login</h2>
        <form method="post">
            {% csrf_token %}

            <div class="form-block">
                <label for="username">Usename:</label>
                <input type="email" name="email" required>
            </div>

            <div class="form-block">
                <label for="password">Password:</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit" class="adminl">Login</button>
        </form>
    </div>
{% endblock container %}